body{

}

div.center_bar {
  margin-top:100px;
  margin-bottom:400px;
  width: 100;
  background-color: rgba(0, 0, 0,0.5);
  color:white;
}

h1{
    color:#00c7ff;
    text-align:center
}

div.genre_select{
  margin-left:30px;
  columns:5;
-webkit-columns:5; /* Safari and Chrome */
-moz-columns:5; /* Firefox */
}

div.genre_selector {
  height:100px;
  width:200px;
  border:2px solid red;
  background-color: rgba(68, 122, 137,0.7);

}

input.toggle {
  height: 100px;
  width: 200px;
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
}

h3.toggle{
  position:relative;
  top: -60px;
  left: 0;
  margin: 0;
  padding: 0;
}


input.toggle:checked{
  opacity: 100;
}
 


h3, h2 {
  text-align:center 
}

a:link {
  text-decoration:none;
  color:#00c7ff;
}
a:visited {
  text-decoration:none;
  color:#00c7ff;
}
a:hover {
  text-decoration:underline;
}
a:active {
  text-decoration:underline;
}

li {
  list-style: none
}
h1.title{
  font-size:72px;
}
