    <nav class="top-bar">
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
         <h1><a href="/home">Movie Night</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="divider"></li>
          <li><a href="/grid.php">Sign In</a></li>
          <li class="divider"></li>
          <li><a href="/sign_up">Sign Up</a></li>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>
