<h2><%= "user id: #{@user1} and user id: #{@user2}'s score: #{(@correlation * 100).to_i}%" %></h2>

<ul>
  <% @common_movies.each do |movie| %>
    <%= "<li>#{movie.title}</li>" %>
  <% end %>
</ul>

