<!DOCTYPE html>
<html lang="en" style="background: url('<%= get_random_image %>') no-repeat black center center fixed;" >
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/badass.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/foundation.js"></script>

  <title></title>
</head>


<body>

<div class='center_float'>
  <%= yield %>
</div>

</body>
  
