<div class='center_bar' id='pick_genres' name="genre_picker">


<h1>Pick Some Genres</h1>

<div class="genre_select">
  
  <form action="/pick_movies/genres" method="get">

    <% Genre.all[1..-1].each do |genre| %>    
      <div class="genre_selector">
        
        <input NAME="<%= genre.id %>" TYPE="checkbox" class='toggle' VALUE="<%= genre.id %>">
          <h3 class='toggle'><%= "#{genre.name}" %></h3>
        </input>
      </div>
    <br>
    <% end %>  

  <input type="submit" value="Next">

</div>
</form>

</div>
