<div class='center_bar' id='start_bar'>
  <h1 class="title">Watch a movie you'll like!</h1>
  <h3>rate ten or more movies and we'll recommend some for you to watch!</h3>
  <h2>
    <a href="/pick_genres" id='start'>Start</a>
  </h2>
</div>
